<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Help</string>
	<key>CFBundleGetInfoString</key>
	<string>Help.framework 1.1, Copyright 2000-2006, Apple Computer, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Help.framework</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>CarbonLazyValues</key>
	<dict>
		<key>CodeFragmentManager</key>
		<dict>
			<key>Help</key>
			<string>CFMPriv_Help</string>
		</dict>
	</dict>
</dict>
</plist>
