<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NavigationServices</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.NavigationServices</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Navigation Services</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>161</string>
	<key>CarbonLazyValues</key>
	<dict>
		<key>CodeFragmentManager</key>
		<dict>
			<key>NavigationServices</key>
			<string>CFMPriv_NavigationServices</string>
		</dict>
	</dict>
</dict>
</plist>
