<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Print</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.print.framework.Print</string>
	<key>CFBundleName</key>
	<string>Print</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>218.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>220.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CarbonLazyValues</key>
	<dict>
		<key>CodeFragmentManager</key>
		<dict>
			<key>Print</key>
			<string>CFMPriv_Print</string>
		</dict>
	</dict>
</dict>
</plist>
