<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Ink</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2, Copyright 2001-2006 Apple Computer, Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ink.framework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ink</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>101.3</string>
	<key>CFBundleSignature</key>
	<string>ink </string>
	<key>CFBundleVersion</key>
	<string>86</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CarbonLazyValues</key>
	<dict>
		<key>Gestalt</key>
		<dict>
			<key>ink </key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
